.container{
	width:85%;
	margin:auto;
	position:relative;
}
*{
	margin:0;
	padding:0;
	left:0;
	right:0;
	box-sizing:border-box;
}
/*header head section*/
.head-icon{
	display:flex;
	justify-content:;
	padding:10px 0;
	position:absolute;
	z-index:997;
	margin-left:1rem;
}
.hed-time p{
	margin-left:40rem;
}
.hed-time a{
	color:white;
	text-decoration:none;
}
.head-icon span{
	color:white;
}
.hed-ico i{
	color: #d9ba85;
}
.head-icon p{
	color: #d9ba85;
}
/*header section*/
.header{
	background:black;
	padding:20px;
	position:absolute;
	margin:40px 0;
	z-index:995;
	left:0;
	right:0;
	opacity:0.6;
}
.head-content{
	display:flex;
	align-items:center;
}
.hed-title{
	color:white;
	font-size:17px;
	margin-right:10px;
}
.head-nav{
	
}
.head-nav a{
	padding:10px;
	text-decoration:none;
	color:#fff;	
	font-size:15px;
}
.head-nav a:hover{
	color:#cda45e;
}
.head-button{
    border: 2px solid #cda45e;
    border-radius: 50px;
    padding: 8px 10px;
    letter-spacing: 1px;
}
.head-button:hover{
	background-color:#cda45e;
}
.head-button a:hover{
	color:#fff;
}
/*banner section*/
.banner{
	background-image:url(../image/hero-bg.jpg);
	height:100vh;
	width:100%;
	background-attachment:fixed;
	background-size:cover;
	position:relative;	
}
.banner::before{
	position:absolute;
	background-color:black;
	opacity:0.5;
	content:"";
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.banner-title{
	margin:50vh 0;
	position:absolute;
	color:white;
}
.banner-title h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
.banner-title span{
	color:#cda45e;
}
.banner-title h3{
	color: #eee;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
}
.banner-button a{
	text-decoration:none;
	font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #cda45e;
}
.banner-button a:hover{
	background: #cda45e;
    color: #fff;
}
.banner-button{
	margin: 30px 0;
}
/*about section*/
.about{
	background-image:url("../image/about-bg.jpg");
	width:100%;
	height:100vh;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
}
.about::before{
	content:"";
	background-color:black;
	opacity:0.7;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.about-content{
	display:flex;
	width:100%;
	margin:5rem 0;
	gap:2rem;
}
.about-content{
	z-index:997;
	position:absolute;
}
.about-para{
	width:50%;
	color:white;
}
.about-row1 h2{
	font-size:1.6rem;
}
.about-row1 p{
	font-size:1.2rem;
	font-style:italic;
	margin:0.8rem 0;
}
.about-row2 i{
	color:#cda45e;
	margin:0.7rem;
}
.about-row2 p{
	margin:0.7rem 0;
	font-size:1.2rem;
}
.about-img{
	width:50%;
	border-color:5px solid pink;
	 position: relative;
}
.about-img img{
	width:100%;
	height:auto;
	border: 4px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
.about-img::before{
	position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: "";
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
}
.about-img::after{
	position: absolute;
    right: 20px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: "";
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
}
/*---------our-restaurent----------*/
.our-rest{
	background-color:#000000;
	padding:60px 0;
}
.res-title{
	padding:40px 0;
}
.res-title h3{
	color: #aaaaaa;
}
.res-title h1{
	color:#cda45e;
	font-size:40px;
	margin-top:10px;
}
.res-title h3::after{
	content:"";
	background-color:rgba(255,255,255,0.2);
	width:120px;
	height:1px;
	display:inline-block;
	margin:4px 10px;
}
.res-card{
	display:flex;
	justify-content:space-between;
}
.res-card1{
	width:32%;
	background-color:#1a1814;
	padding:50px 30px;
}
.res-card1 span{
	color:#cda45e;
	font-size:28px;
	line-height:2rem;
}
.res-card1 span:hover{
	color:#fff;
}
.res-card1 h2{
	font-size:30px;
	line-height:4.5rem;
	color:rgba(255, 255, 255, 0.8);
}
.res-card p{
	line-height:2rem;
	font-size:18px;
	color:#aaaaaa;
}
.res-card1:hover{
	background-color:#cda45e;
	transition-duration:2s;
}
.res-card1:hover p{
	color:white;
}
.res-card1:hover span{
	color:white;
}
/*----our menu----*/
.menu{
	padding:60px 0;
	background-color:#1a1814;
}
.menu-logo a{
	text-decoration:none;
	color:rgba(255, 255, 255, 0.8);
	padding:12px;
	font-size:18px;
}
.menu-logo .all{
	color:#cda45e;
}
.menu-logo a:hover{
	color:#cda45e;
}
.menu-logo{
	text-align:center;
}
	/*menu contents*/
.menu-dishes{
	padding-top:50px;
}
.menu-image img{
	height:70px;
	border-radius:50px;
	border:5px solid rgba(255,255,255,0.2);
}
.menu-flex{
	display:flex;
	gap:20px;
	line-height:25px;
	margin:30px 0;
}
.menu-food a{
	text-decoration:none;
	color:white;
	font-size:20px;
	font-weight:800;
}
.menu-food a:hover{
	color:#cda45e;
}
.menu-food span{
	color:#cda45e;
	font-size:20px;
}
.menu-food p{
	color:rgba(255,255,255,0.5);
	font-size:15px;
	font-weight:700;
	align-items:justify;
}
.menu-dishes{
	display:flex;
	gap:2rem;
}
.menu-row1{
	width:50%;
}
.menu-row2{
	width:50%;
}
.dis1::after{
	content:"...............................................";
    color: #bab3a6;
}
.dis2::after{
	content:"..................................................";
    color: #bab3a6;
}
.dis3::after{
	content:"......................................................";
    color: #bab3a6;
}
.dis4::after{
	content:"..............................................";
    color: #bab3a6;
}
.dis5::after{
	content:"...............................................";
    color: #bab3a6;
}
.dis6::after{
	content:"............................................";
    color: #bab3a6;
}
.dis7::after{
	content:"....................................................";
    color: #bab3a6;
}
.dis8::after{
	content:"..............................................";
    color: #bab3a6;
}
.dis9::after{
	content:".................................................";
    color: #bab3a6;
}
/*-----specials------*/
.specials{
	background-color:#000;
	padding-bottom:40px;
}
.special-coloum{
	display:flex;
	flex-wrap:wrap;
	gap:50px;
}
.special-row1{
	width:20%;
}
.special-row2{
	display:flex;
	width:75%;
}
.special-content{
	width:66%;
}
.special-image{
	width:34%;
}
.special-image img{
	width:90%;
}
.special-content h3{
	font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
.para{
	color: #aaaaaa;
	font-style:italic;
	font-size:1.1rem;
    margin-bottom: 20px;
}
.special-content p{
	color: #aaaaaa;
	font-size:1.1rem;
    margin-bottom: 20px;
}
.special-line{
	list-style:none;
}
.special-line a{
    padding: 12px 15px;
    color: #fff;
    font-weight: 600;
    font-size:1.1rem;
	text-decoration:none;
}
.line2 a:hover{
	color:#cda45e;
}
.line2{
	margin-top:20px;
}
.line1 a{
	color:#000;
}
.special-line{
	border-right:3px solid #cda45e;
	
}
.line1{
	padding:10px;
	background-color:#cda45e;
	margin-right:-3px;
}
/*events*/
.event{
	background-image:url(../image/events-bg.jpg);
	height:100vh;
	width:100%;
	background-attachment:fixed;
	background-size:cover;
	position:relative;	
}
.event::before{
	position:absolute;
	background-color:black;
	opacity:0.7;
	content:"";
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.event-title{
	padding:40px 0;
	position:;
}
.event-title h3{
	color: #aaaaaa;
}
.event-title h1{
	color:#cda45e;
	font-size:40px;
	margin-top:10px;
}
.event-title h3::after{
	content:"";
	background-color:rgba(255,255,255,0.2);
	width:120px;
	height:1px;
	display:inline-block;
	margin:4px 10px;
}
			/*event content*/
.event-content{
	display:flex;
	gap:2rem;
	position:absolute;
}
.event-img{
	width:50%;
}
.event-para{
	width:50%;
}
.event-img img{
	width:100%;
}
.event-row1 h2{
	font-size:1.7rem;
	color:#cda45e;
	margin-bottom:0.6rem;
}
.event-row1 h3{
	font-size:1.8rem;
	color:#fff;
	border-bottom:2px solid #cda45e;
	width:3rem;
	margin-bottom:0.6rem;
}
.event-row1 p{
	font-size:1.2rem;
	font-style:italic;
	color:#fff;
}
.event-row2 p{
	margin:1rem 0;
}
.event-row2 p{
	font-size:1.2rem;
	color:#fff;
}
